<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask+Sqlite3</title>
</head>
<body>

    <center>
    <h1>This is a simple Login System using Flask+Sqlite3</h1>
    <h1>
    Завтрак {{breakfast}}
        {%d%}
        {{}}
    </h1>
        <h1>
    Обед {{lunch}}
    </h1>
        <h1>
    Ужин {{dinner}}
    </h1>
        <h1>
    Перекус {{snack}}
    </h1>
    </center>
    
</body>
</html>