<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Меню</title>
  <!-- Подключение Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="styles.css" rel="stylesheet">


<script>


function getFormattedDateRange(weekNumber) {
  var today = new Date();
  var firstDay = new Date(today.setDate(today.getDate() - today.getDay() + (weekNumber - 1) * 7));
  var lastDay = new Date(today.setDate(today.getDate() - today.getDay() + 6 + (weekNumber - 1) * 7));
  
  var formattedFirstDay = firstDay.toLocaleDateString('en-GB', { day: 'numeric', month: 'numeric' }).replace(/\//g, '.');
  var formattedLastDay = lastDay.toLocaleDateString('en-GB', { day: 'numeric', month: 'numeric' }).replace(/\//g, '.');

  var formattedDateRange = formattedFirstDay + '-' + formattedLastDay;
  return formattedDateRange;
}

document.addEventListener('DOMContentLoaded', function() {
  document.querySelector('.btn[data-week="1"]').innerText = getFormattedDateRange(1);
  document.querySelector('.btn[data-week="2"]').innerText = getFormattedDateRange(2);
});

</script>
 
</head>
<body>
  <div class="container">
    <div class="page-title">Меню</div>

    <div class="weeks">
      <button type="button" class="btn btn-outline-success" onclick="showWeek(1)" data-week="1">Неделя 1</button>
      <button type="button" class="btn btn-outline-success" onclick="showWeek(2)" data-week="2">Неделя 2</button>
    </div>

    <div class="week1">
        <div class="weekdays" role="group">
            <button type="button" class="btn btn-outline-success" onclick="showDay(1)" data-day="1">Пн1</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(2)" data-day="2">Вт1</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(3)" data-day="3">Ср1</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(4)" data-day="4">Чт1</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(5)" data-day="5">Пт1</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(6)" data-day="6">Сб1</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(7)" data-day="7">Вс1</button>
          </div>
    </div>

    <div class="week2" style="display: none;">
        <div class="weekdays" role="group">
            <button type="button" class="btn btn-outline-success" onclick="showDay(8)" data-day="1">Пн2</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(9)" data-day="2">Вт2</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(10)" data-day="3">Ср2</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(11)" data-day="4">Чт2</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(12)" data-day="5">Пт2</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(13)" data-day="6">Сб2</button>
            <button type="button" class="btn btn-outline-success" onclick="showDay(14)" data-day="7">Вс2</button>
          </div>
      </div>
      

<div class="product-list">
   
    <div id="day1" class="day" style="display: none;">
        <div class="eating" >Завтрак</div>
        <ul>
          <li onclick="alert('Омлет')">Омлет</li>
          <li onclick="alert('Каша')">Каша</li>
          <li onclick="alert('Тосты')">Тосты</li>
        </ul>
      
        <div class="eating" >Обед</div>
        <ul>
          <li onclick="alert('Суп')">Суп</li>
          <li onclick="alert('Салат')">Салат</li>
          <li onclick="alert('Главное блюдо')">Главное блюдо</li>
        </ul>
      
        <div class="eating" >Ужин</div>
        <ul>
          <li onclick="alert('Рыба')">Рыба</li>
          <li onclick="alert('Овощи')">Овощи</li>
          <li onclick="alert('Гарнир')">Гарнир</li>
        </ul>
      
        <div class="eating" >Перекус</div>
        <ul>
          <li onclick="alert('Фрукты')">Фрукты</li>
          <li onclick="alert('Орехи')">Орехи</li>
        </ul>
    </div>
    

  </div>
</div>

    </div>
  </div>

  <a href="Lk.html" class="btn btn-primary rounded-circle home-button"><i class="fas fa-home"></i></a>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>


  <!-- Подключение Bootstrap JS и jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <script>
document.addEventListener('DOMContentLoaded', function() {
  showWeek(1);
  showWeek(2);
});

function showWeek(weekNumber) {
  //скрываем все дни обеих недель
  $(".day").hide();
  //показываем выбранную неделю
  $(".week" + weekNumber).show();

  //Удаляем класс у всех кнопок
  $(".btn").removeClass("selected-week");
  //Добавляем класс выбранной кнопке недели
  $(".btn[data-week='" + weekNumber + "']").addClass("selected-week");

  // Скрываем дни первой недели, если выбрана вторая неделя
  if (weekNumber === 2) {
    $(".week1 .weekdays").hide();
  } else {
    $(".week1 .weekdays").show();
  }

  //Наоборот
  if (weekNumber === 1) {
    $(".week2 .weekdays").hide();
  } else {
    $(".week2 .weekdays").show();
  }

  // Обновляем текст кнопок дней недели с учетом выбранной недели
  var startDay = getStartDayOfTheWeek(weekNumber); // Получаем дату начала недели
  var daysOfWeek = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"];
  $(".week" + weekNumber + " .weekdays button").each(function(index) {
    var currentDate = new Date(startDay.getFullYear(), startDay.getMonth(), startDay.getDate() + index);
    var dayNumber = currentDate.getDate();
    var dayName = daysOfWeek[currentDate.getDay()]; // Получаем наименование дня недели
    $(this).html('<div>' + dayNumber + '</div><div>' + dayName + '</div>'); // Обновляем содержимое кнопки
  });
}


function getStartDayOfTheWeek(weekNumber) {
  var today = new Date();
  var firstDay = new Date(today.setDate(today.getDate() - today.getDay() + (weekNumber - 1) * 7));
  return firstDay;
}


    function showDay(dayNumber) {
    $(".day").hide();
    $("#day" + dayNumber).show();
  }



  $(document).ready(function () {
    $(".btn-outline-success").on("click", function () {
      $(".btn-outline-success").removeClass("active");
      $(this).addClass("active");
    });
  });
  </script>
</body>
</html>